.button-link{
    background-color: #c01616;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    display: inline-block;
    font-size: 50px;
    margin: 0 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}